@font-face {
  font-family: AbrilFatface;
  src: url(../src/assets/Fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../src/assets/Fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}
body {
  box-sizing: border-box;
}
